body {
  text-align: center;
  font-family: Helvetica;
}

.links {
  font-size: 18px;
  color: white;
}

.designed p {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.designed {
  background-image: url(../images/the-flatiron-building.png);
}

.head {
  background-image: url(../images/the-flatiron-building.png);
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

.footer p {
  font-color: white;
}

p {
  font-size: 14px;
  font-color: black;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
